@import './base.css';

#app {
<<<<<<< HEAD
  margin: 0 auto;
=======
  /* max-width: 1280px; */
  /* margin: 0 auto; */

>>>>>>> base
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--el-color-primary);
    background: transparent;
  }
}

@media (min-width: 1024px) {
<<<<<<< HEAD
  body {
    /* display: flex; */
=======
  /* body {
    display: flex;
>>>>>>> base
    place-items: center;
  } */

  #app {
<<<<<<< HEAD
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
    display: flex;
    flex-direction: column;
    min-width: 1280px;
=======
    grid-template-columns: 1fr 1fr;
    padding: 0 rem;
>>>>>>> base
  }
}
